<p id="notice"><%= notice %></p>

<h1>Libreta</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libreta.each do |libretum| %>
      <tr>
        <td><%= libretum.Nombre %></td>
        <td><%= libretum.Telefono %></td>
        <td><%= link_to 'Show', libretum %></td>
        <td><%= link_to 'Edit', edit_libretum_path(libretum) %></td>
        <td><%= link_to 'Destroy', libretum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Libretum', new_libretum_path %>
