<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @libretum.Nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @libretum.Telefono %>
</p>

<%= link_to 'Edit', edit_libretum_path(@libretum) %> |
<%= link_to 'Back', libreta_path %>
